# Archivos de sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editores y entornos
.idea/
.vscode/
*.swp
*.swo
*~

# Registros y temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas de trabajo temporal
.system_generated/

.agents
